@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

html,
body {
  height: 100%;
  background: url("./img/back.jpg") no-repeat center center fixed;
  background-size: cover;
}

.table-modal {
  max-height: 330px !important;
}
.modal{
  background: rgba(0, 0, 0 , .3);
  transition: opacity .15s linear;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  pointer-events: auto !important;
  border-radius: 0.3rem !important;
  background: transparent !important;
  border: none !important;
  outline: 0 !important;
}

.modal-header {
  position: relative;
  border: 0 !important;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(134.21deg, #ff9e2c 7.79%, #f07129 92.57%);
  border-radius: 20px !important;
  padding: 24px !important;
  display: flex;
}

.show {
  display: block !important;
}

.fade {
  transition: opacity .15s linear !important;
}



.modal-title {
  font-size: 14px !important;
}

.text-light {
  color: white !important;
  font-size:20px !important;
}



.modal-header:before {
  top: 16px !important;
  left: 22px !important;
  right: 22px !important;
}

.table {
  width: 100% !important;
  margin-bottom: 0 !important;
  color: #212529 !important;
  border-collapse: collapse !important;
}

.table thead th:not(:last-child),
.table tr td:not(:last-child),
.table tr th:not(:last-child) {
  border-right: 1px solid rgba(102, 157, 145, 0.1) !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}

.table td, .table thead th {
  font-size: 10px !important;
  padding: 5px 23px !important;
  text-align: center;
}

.table tbody tr td {
  border-bottom: none !important;
}

.table td,
.table thead th {
  font-size: 10px;
  border-bottom: 0;
}

.table thead th {
  padding: 13px 25px 12px 18px !important;
  text-align: center;
}

.ps {
  padding-bottom: 12px !important;
  position: relative;
  overflow: hidden !important;
}

.table-responsive {
  border-radius: 20px !important;
  border: 3px solid #5c8d89 !important;
  margin-top: 40px !important;
}

.modal-backdrop {
  background-color: rgb(150, 146, 146) !important;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1040 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: #000;
}

.modal-body {
  background: #fff !important;

  height: 100% !important;
}

.modal-header:after,
.modal-header:before {
  position: absolute;
  content: "";
  background: inherit !important;
  opacity: 0.2 !important;
  height: 100% !important;
  border-radius: 20px !important;
  z-index: -1 !important;
}

.modal.show .modal-dialog {
  transform: none;
}

.modal-dialog {
  position: relative;
  width: auto !important; 
  pointer-events: none;
}

.nav-img {
  width: 100px;
  height: 60px;
}

.nav-link {
  font-size: 12px;
  color: #242424 !important;
  opacity: 0.5;
}

.nav-link:hover {
  color: #9d7a66 !important;
}

.home-text {
  font-size: 36px;
  color: #9d7a66;
  font-family: "Ranchers", cursive;
  letter-spacing: 0.07em;
  position: relative;
}

.icon-bird {
  top: 40px;
  width: 320px !important;
  height: 300px !important;
  position: relative;
  display: inline-block;
  box-shadow: 0 14px 40px rgb(98 151 142 / 30%);
  border-radius: 50% !important;
}

.home-total {
  top: 40px !important;
  position: relative;
  font-size: 24px;
  font-weight: 900;
  color: #61958d;
}

.home-trx {
  color: rgba(235, 144, 67);
}

.home-font {
  font-family: "Ravi Prakash", cursive;
  font-size: 40px !important;
}

.progress {
  width: 100%;

  height: 10px;
  border-radius: 10px;
  background: #fff;
}

.progress-bar {
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
}

.progress-bar-custom {
  background: linear-gradient(134.21deg, #ff9e2c 7.79%, #f07129 92.57%);
  width: 50%;
  border-radius: 10px;
}

.home-btn {
  background: linear-gradient(134.21deg, #ff9e2c 7.79%, #f07129 92.57%);
  font-size: 24px !important;
  font-weight: 600 !important;
}

.home-btn:hover {
  background: linear-gradient(134.21deg, #f07129 7.79%, #ff9e2c 92.57%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card-font {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
}

.card-balance,
.card-liberti,
.card-wallet {
  box-shadow: 0 20px 35px 20px #cddddd;
}

.card {
  top: 120px;
  background: linear-gradient(1turn, #e6f1f0, #fff 94.95%);
  border-radius: 20px !important;
  margin-bottom: 70px;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.card-body {
  flex: 1 1 auto !important;
  min-height: 1px;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.icon-container {
  border-radius: 13.3333px !important;
  z-index: 9 !important;
  padding: 20px 0 !important;
}

.card-icon {
  width: 25% !important;
  margin-top: -35px !important;
  transform: translateY(-35%) !important;
}

.icon {
  z-index: 9;
  left: 0;
  right: 0;
  margin: auto;
  width: 47%;
}

.card-text {
  font-size: 18px;
}

.btn-link {
  font-weight: 400;
  color: #f07129 !important;
  text-decoration: none !important;
}

.btn-connect {
  background: linear-gradient(134.21deg, #ff9e2c 7.79%, #f07129 92.57%);
  border: none !important;
  color: #fff;
  font-size: 12px !important;
  font-weight: 700 !important;
  margin-top: 40px 0 0 0 !important;
}
.btn-connect:hover {
  background: linear-gradient(134.21deg, #f07129 7.79%, #ff9e2c 92.57%);
}
.card-width {
  max-width: 480px;
}

.card-balance,
.card-liberti,
.card-wallet {
  box-shadow: 0 20px 35px 20px #cddddd;
}

.balance-light,
.balance {
  background: linear-gradient(134.21deg, #74b49b 7.79%, #5c8d89 92.57%);
  position: relative;
}

.card-icon {
  width: 25% !important;
  margin-top: -35px !important;
  transform: translateY(-35%) !important;
}

.fz-balance {
  font-size: 19px;
}

.first-card {
  background: linear-gradient(180deg, #ecfaf8 15.54%, #cfe3dc);
  box-shadow: 0 20px 35px 20px #cddddd;
}

.card-height {
  height: calc(100% - 70px);
}

.card-stake {
  border-radius: 20px;
  margin-bottom: 70px;
}

.balance-light,
.balance {
  background: linear-gradient(134.21deg, #74b49b 7.79%, #5c8d89 92.57%);
  position: relative;
}

.card-header-image {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px 12px;
  border-radius: 20px;
}

.position-relative {
  position: relative !important;
}

.stake-icon-content-second,
.stake-icon-content {
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.stake-icon-content {
  background-color: hsla(0, 0%, 100%, 0.5);
}

@media (min-width: 992px) {
  .header {
    padding: 87px 0 120px;
  }
}

@media (min-width: 575px) {
  .progress {
    max-width: 367px;
  }
}

@media (min-width: 575px) {
  .icon-bird {
    width: 305px;
    height: 305px;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 575px) {
  .trx-icon {
    width: 72px;
    height: 48px;
    border-radius: 5.7px;
  }
}

.stake-icon {
  width: 40px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.text-white {
  color: #fff !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.title-text {
  font-size: 16px;
}

.w-100 {
  width: 100% !important;
}

.form-group {
  margin-bottom: 1rem;
}

.text-small {
  color: #242424;
  font-size: 8px;
  margin-bottom: 8px;
}

.content-bordered {
  border-bottom: 0;
  border-radius: 8px;
}

.content {
  margin-left: 1px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px !important;
  background: #fff;
  border-radius: 20px !important ;
  width: 100%;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  border: none;
}

.input-group:focus {
  border: none;
}

.input-amount {
  padding: 0;
  border: none;
  height: auto;
  line-height: 1px;
  font-weight: 700 !important;
  opacity: 1;
  color: #242424 !important;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  color: #242424;
  font-family: "Oswald", sans-serif;
}

.profitability {
  font-size: 17px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  margin-bottom: 5px;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.stake-btn,
.withdraw-btn {
  letter-spacing: 0.5px;
  font-weight: 700;
  border: none !important;
}

.stake-btn,
.withdraw-btn :focus {
  border: none;
  outline: none;
}

.fin-stats {
  padding: 0;
  text-transform: uppercase !important;
  color: #5c8d89 !important;
}

.stake-btn {
  text-transform: uppercase;
  background: linear-gradient(
    134.21deg,
    #ff9e2c 7.79%,
    #f07129 92.57%
  ) !important;
  color: #fff;
  padding: 9px 23px !important;
}
.main-wallet {
  background-color: #ff9d2d !important;
}
.fin-stats {
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
  color: #5c8d89;
}

.card-liberti {
  background: #fff;
}

.balance-light {
  background: #ecf5f4;
}

.stake-icon-content-second {
  background-color: transparent;
}

.stake-icon-content-second,
.stake-icon-content {
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.stake-icon {
  width: 40px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.card-body,
.card-footer,
.card-header {
  padding: 15px 34px 19px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-header-text {
  background: #fff;
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 52%;
  white-space: nowrap;
  transform: translateX(-52%);
}

.small,
small {
  font-size: 80% !important;
  font-weight: 400 !important;
}

.bg-cyan-light {
  background-color: #ecf5f4;
}

.bg-cyan {
  background-color: #74b49b;
}

.withdraw-btn-pd {
  background: linear-gradient(134.21deg, #74b49b 7.79%, #5c8d89 92.57%);
  font-size: 12px;
  border-radius: 6px !important;
  border: 0;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.line {
  width: 70%;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 25px;
  background: linear-gradient(
    90.14deg,
    rgba(243, 120, 42, 0),
    #ff9c2c 50.92%,
    rgba(242, 117, 42, 0) 99.75%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.text-orange {
  color: #ff9e2c;
  text-decoration: none;
}

.container {
  max-width: 1040px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-cyan {
  color: #74b49b;
}

.gradient-border {
  position: relative !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.gradient-border:after,
.gradient-border:hover:after {
  background: linear-gradient(134.21deg, #ff9e2c 7.79%, #f07129 92.57%);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.title {
  margin: 50px 0 20px;
  font-family: "Ranchers", cursive;
  color: #9d7a66;
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.referal-program {
  position: relative;
}

a {
  color: #f07129;
  text-decoration: none;
  background-color: transparent;
}

.referal-program:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 157, 45, 0),
    #ff9d2d 51.04%,
    rgba(255, 157, 44, 0)
  );
}

.ape-balance-content {
  border-radius: 8px !important;
}

.fz-16 {
  font-size: 12px !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.copy-link-box {
  display: flex;
  border-radius: 8px !important;
}

.ape-control {
  background: #dae8e7;
  height: 100%;
  border: none;
  z-index: 3;
  margin-right: -5px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.profitability {
  font-family: Poppins, sans-serif;
  margin-bottom: 12px;
}

.footer {
  text-align: center;
  font-family: Poppins, sans-serif;
}

.staking-text {
  font-weight: 700 !important;
  font-size: 24px;
  color: #242424;
}

@media (min-width: 575px) {
  .ref-prog-text {
    font-size: 18px;
    text-align: left;
    margin-bottom: 55px;
    color: #242424;
    opacity: 0.7;
  }
}

@media (min-width: 575px) {
  .mb-custom {
    margin-bottom: 42px;
  }
}

@media (min-width: 575px) {
  .text {
    font-size: 32px;
  }
}

@media (min-width: 575px) {
  .ape-balance-content {
    margin-bottom: 16px;
  }
}

@media (min-width: 575px) {
  .fz-16 {
    font-size: 16px !important;
  }
}

@media (min-width: 575px) {
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 575px) {
  .footer {
    padding: 36px;
    margin-top: 140px;
    font-size: 18px;
  }
}

@media (min-width: 575px) {
  .stake-btn {
    padding: 16px 23px;
    margin-bottom: 38px;
  }
}

@media (min-width: 992px) {
  .vector-background {
    width: 780px;
    margin-bottom: 50px;
  }
}

@media (min-width: 575px) {
  .platform-service {
    margin-bottom: 56px;
  }
}

@media (min-width: 575px) {
  .staking-size {
    margin: 0 70px;
  }
}

@media (min-width: 575px) {
  .text-small {
    font-size: 10px;
  }
}

@media (min-width: 575px) {
  .fz-12 {
    font-size: 12px !important;
  }
}

@media (min-width: 575px) {
  .profitability {
    font-size: 24px;
  }
}

@media (min-width: 575px) {
  .fz-18 {
    font-size: 18px !important;
  }
}

@media (min-width: 575px) {
  .title {
    margin: 140px 0 20px;
    font-size: 36px;
  }
}

@media (min-width: 575px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

@media (min-width: 1200px) {
  .card-header-text {
    font-size: 26px;
    line-height: 23px;
  }
}

@media (max-width: 991) {
  .card-body {
    font-size: 5px !important;
    flex-direction: column !important;
  }
}
